<h1>Productos en Tiempo Real</h1>

<h2>Crear producto</h2>
<form id="formProducto">
    <input type="text" id="title" name="title" placeholder="Título" required />
    <input type="number" id="price" name="price" placeholder="Precio" required />
    <button type="submit">Crear</button>
</form>

<h2>Lista de productos</h2>
<ul id="lista"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
